<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ninerr Pocetna</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">
    <form class="container" th:action="@{/register}" method="post">
        <label for="username">Korisnicko ime:</label>
        <input class="field" type="text" id="username" name="username" />
        <label for="password">Lozinka:</label>
        <input class="field" type="password" id="password" name="password" />
        <label for="email">Email:</label>
        <input class="field" type="email" id="email" name="email" />
        <button class="button" type="submit">Registruj se</button>
        <span>Vec imate nalog? <a th:href="@{/login}">Prijavite se</a></span>
    </form>
</div>

</body>
</html>