<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninerr</title>
</head>
<body>

<h1> Ninerr </h1>

<p> Ninerr is a web application that allows you to post Job listing and apply for them. </p>

<p> You can use the following links to navigate through the application: </p>

<ul>
    <li> <a href="/jobs"> Jobs </a> </li>
    <li> <a href="/jobs/new"> Add New Job </a> </li>
    <li> <a href="/companies"> Companies </a> </li>
    <li> <a href="/companies/new"> Add New Company </a> </li>
</ul>
</body>
</html>